AddOnFE_Facturatech/Web References/FacturatechWSdse/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:https://ws-dse.facturatech.co/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:https://ws-dse.facturatech.co/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:https://ws-dse.facturatech.co/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="uploadResponse">
        <xsd:all>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="transactionID" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="documentStatusResponse">
        <xsd:all>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="documentBase64" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="messageError" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="downloadXMLResponse">
        <xsd:all>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="documentBase64" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="messageError" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="downloadPDFResponse">
        <xsd:all>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="documentBase64" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="messageError" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="downloadCUDSResponse">
        <xsd:all>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="resourceData" type="xsd:string" />
          <xsd:element name="messageError" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="uploadDocumentRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="xmlBase64" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="uploadDocumentResponse">
    <wsdl:part name="return" type="tns:uploadResponse" />
  </wsdl:message>
  <wsdl:message name="documentStatusRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="transaccionID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="documentStatusResponse">
    <wsdl:part name="return" type="tns:documentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="downloadXMLRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="prefix" type="xsd:string" />
    <wsdl:part name="number" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="downloadXMLResponse">
    <wsdl:part name="return" type="tns:downloadXMLResponse" />
  </wsdl:message>
  <wsdl:message name="downloadPDFRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="prefix" type="xsd:string" />
    <wsdl:part name="number" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="downloadPDFResponse">
    <wsdl:part name="return" type="tns:downloadPDFResponse" />
  </wsdl:message>
  <wsdl:message name="downloadCUDSRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="prefix" type="xsd:string" />
    <wsdl:part name="number" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="downloadCUDSResponse">
    <wsdl:part name="return" type="tns:downloadCUDSResponse" />
  </wsdl:message>
  <wsdl:portType name="DOCUMENTO-SOPORTE-FACTURATECHPortType">
    <wsdl:operation name="uploadDocument">
      <documentation>La función recibe el usuario, password con formato hash 256, xml en base 64, y responde el folio de transacción del comprobante</documentation>
      <wsdl:input message="tns:uploadDocumentRequest" />
      <wsdl:output message="tns:uploadDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="documentStatus">
      <documentation>La función recibe el usuario, password en formato hash 256, transacciónId enviado de Ftech, y responde el estatus del comprobante</documentation>
      <wsdl:input message="tns:documentStatusRequest" />
      <wsdl:output message="tns:documentStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="downloadXML">
      <documentation>Funcion para la recuperación del archivo XML</documentation>
      <wsdl:input message="tns:downloadXMLRequest" />
      <wsdl:output message="tns:downloadXMLResponse" />
    </wsdl:operation>
    <wsdl:operation name="downloadPDF">
      <documentation>Funcion para la descarga del archivo PDF</documentation>
      <wsdl:input message="tns:downloadPDFRequest" />
      <wsdl:output message="tns:downloadPDFResponse" />
    </wsdl:operation>
    <wsdl:operation name="downloadCUDS">
      <documentation>Funcion para la descarga del CUDS</documentation>
      <wsdl:input message="tns:downloadCUDSRequest" />
      <wsdl:output message="tns:downloadCUDSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOCUMENTO-SOPORTE-FACTURATECHBinding" type="tns:DOCUMENTO-SOPORTE-FACTURATECHPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="uploadDocument">
      <soap:operation soapAction="urn:https://ws-dse.facturatech.co/uploadDocument" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="documentStatus">
      <soap:operation soapAction="urn:https://ws-dse.facturatech.co/documentStatus" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadXML">
      <soap:operation soapAction="urn:https://ws-dse.facturatech.co/downloadXML" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadPDF">
      <soap:operation soapAction="urn:https://ws-dse.facturatech.co/downloadPDF" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCUDS">
      <soap:operation soapAction="urn:https://ws-dse.facturatech.co/downloadCUDSResponse" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:https://ws-dse.facturatech.co/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOCUMENTO-SOPORTE-FACTURATECH">
    <wsdl:port name="DOCUMENTO-SOPORTE-FACTURATECHPort" binding="tns:DOCUMENTO-SOPORTE-FACTURATECHBinding">
      <soap:address location="http://ws-dse.facturatech.co/v1/demo/?wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>